p{
font-size: 18px;
color: black;
text-align:center; 
text-indent:1cm;
text-shadow: #999999 0.5px 0.1px 0.1px;
line-height:1;
}
.lol{
font-size: 14px;
text-align:left; 
}
.markers {
	margin: 0 0 20px 14px;
	padding: 0;
}
.markers li {
	list-style-image: url(2.jpg);
	margin: 7px 0;
}
div {
    text-align: center;
}
table {
   border-collapse: collapse; 
   border: 1.5px solid black;
}
th, td {
font-size:18px;
   border: 1.5px solid black;
}
caption {
   caption-side: top;
   text-align: center;
   padding: 10px 0;
   font-size: 18px;
}
body {
	background-color: #FFC0CB;
}
h1 {
	font-size: 30px;
	color: black;
	line-height: 0px;
}
h2 {
	font-size: 20px;
	color: black;
	line-height: 0px;
}
h3 {
	font-size: 18px;
	color: black;
	margin-left: 1.3cm;
}
li{
font-size: 18px;
color: #663d00;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"),
       local("Roboto-Regular"),
       url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
       format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Стилизация элемента select */
select {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
 
/* Стилизация выбранных опций */
option:checked {
  background-color: #ccc;
}
lable{
line-height:0cm;
}
