table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
    border: 2px solid black;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #cb91fe;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.holiday {
    background-color: #9370db;
}