body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE4E1;
}
.puc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFE4E1;
}

.b1 {
  height: 100px;
  width: 100px;
  background-color: #FFE4E1;
}

.b2 {
  height: 100px;
  width: 100px;
  background-color: #8A2BE2;
}